<ngx-spinner name="modalspin" type="timer" [fullScreen]="false"></ngx-spinner>

<div class="modal-header">
  <h4 class="modal-title">Change Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="form" novalidate (ngSubmit)="onClick_Submit()">
  <div class="modal-body">

    <!-- New Password -->
    <div class="form-group row">
      <label class="col-md-4 label-control" for="striped-form-2">New Password</label>
      <div class="col-md-8">
        <div class="input-group mb-0">
          <input [type]="show_eye1 ? 'text' : 'password'" formControlName="newPassword" type="password" id="striped-form-2" class="form-control"
            [ngClass]="{'is-invalid': form.get('newPassword')?.touched && form.get('newPassword')?.invalid,'is-valid': form.get('newPassword')?.touched && form.get('newPassword')?.valid}" />
          <div class="input-group-append">
            <span class="input-group-text" (click)="toggleNewPassword()">
              <i [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </span>
          </div>
        </div>
        <small class="form-text text-muted danger" *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid">
          <span *ngIf="form.get('newPassword')?.errors?.required">
            New Password is required
          </span>
          <span *ngIf="form.get('newPassword')?.errors?.pattern">
            Password must meet required pattern
          </span>
        </small>
      </div>
    </div>

    <!-- Confirm Password -->
    <div class="form-group row d-flex align-items-center">
      <label class="col-md-4 label-control" for="striped-form-3">Confirm Password</label>
      <div class="col-md-8">
        <div class="input-group mb-0">
          <input [type]="show_eye2 ? 'text' : 'password'" formControlName="confirmPassword" type="password" id="striped-form-3" class="form-control"
            [ngClass]="{'is-invalid': form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid,'is-valid': form.get('confirmPassword')?.touched && form.get('confirmPassword')?.valid}" />
          <div class="input-group-append">
            <span class="input-group-text" (click)="toggleConfirmPassword()">
              <i [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </span>
          </div>
        </div>
        <small class="form-text text-muted danger" *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid">
          <span *ngIf="form.get('confirmPassword')?.errors?.required">
            Confirm Password is required
          </span>
          <span *ngIf="form.get('confirmPassword')?.errors?.confirmedValidator">
            Passwords must match
          </span>
        </small>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary mr-1">
      <i class="ft-check-square mr-1"></i> Save
    </button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">
      <i class="fa fa-times mr-1" aria-hidden="true"></i> Cancel
    </button>
  </div>
</form>