<div class="card">
  <div class="card-body">
    <form [formGroup]="form" novalidate (ngSubmit)="onClick_Submit()">
      <!-- Old Password -->
      <div class="form-group row">
        <label class="col-md-3 label-control" for="striped-form-1">Old Password</label>
        <div class="col-md-9">
          <div class="input-group mb-0">
            <input [type]="show_eye1 ? 'text' : 'password'" formControlName="oldPassword" type="password" id="striped-form-1" class="form-control"
              [ngClass]="{'is-invalid': form.get('oldPassword')?.touched && form.get('oldPassword')?.invalid,'is-valid': form.get('oldPassword')?.touched && form.get('oldPassword')?.valid}" />
            <div class="input-group-append">
              <span class="input-group-text" (click)="toggleOldPassword()">
                <i [class]="show_eye1 ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
              </span>
            </div>
          </div>
          <small class="form-text text-muted danger" *ngIf="form.get('oldPassword')?.touched && form.get('oldPassword')?.invalid">
            <span *ngIf="form.get('oldPassword')?.errors?.required">
              Old Password is required
            </span>
            <span *ngIf="form.get('oldPassword')?.errors?.pattern">
              Password must meet required pattern
            </span>
          </small>
        </div>
      </div>

      <!-- New Password -->
      <div class="form-group row">
        <label class="col-md-3 label-control" for="striped-form-2">New Password</label>
        <div class="col-md-9">
          <div class="input-group mb-0">
            <input [type]="show_eye2 ? 'text' : 'password'" formControlName="newPassword" type="password" id="striped-form-2" class="form-control"
              [ngClass]="{'is-invalid': form.get('newPassword')?.touched && form.get('newPassword')?.invalid,'is-valid': form.get('newPassword')?.touched && form.get('newPassword')?.valid}" />
            <div class="input-group-append">
              <span class="input-group-text" (click)="toggleNewPassword()">
                <i [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
              </span>
            </div>
          </div>
          <small class="form-text text-muted danger" *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid">
            <span *ngIf="form.get('newPassword')?.errors?.required">
              New Password is required
            </span>
            <span *ngIf="form.get('newPassword')?.errors?.pattern">
              Password must meet required pattern
            </span>
          </small>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="form-group row">
        <label class="col-md-3 label-control" for="striped-form-2">Confirm Password</label>
        <div class="col-md-9">
          <div class="input-group mb-0">
            <input [type]="show_eye3 ? 'text' : 'password'" formControlName="confirmPassword" type="password" id="striped-form-2" class="form-control"
              [ngClass]="{'is-invalid': form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid,'is-valid': form.get('confirmPassword')?.touched && form.get('confirmPassword')?.valid}" />
            <div class="input-group-append">
              <span class="input-group-text" (click)="toggleConfirmPassword()">
                <i [class]="show_eye2 ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
              </span>
            </div>
          </div>
          <small class="form-text text-muted danger" *ngIf="form.get('confirmPassword')?.touched && form.get('confirmPassword')?.invalid">
            <span *ngIf="form.get('confirmPassword')?.errors?.required">
              Confirm Password is required
            </span>
            <span *ngIf="form.get('confirmPassword')?.errors?.confirmedValidator">
              Passwords must match
            </span>
          </small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mr-1">
        <i class="ft-check-square mr-1"></i> Save
      </button>
      <button type="button" class="btn btn-secondary">
        <i class="fa fa-times mr-1" aria-hidden="true"></i> Cancel
      </button>
    </form>
  </div>
</div>