<ngx-spinner name="modalspin" type="timer" [fullScreen]="false"></ngx-spinner>
<div class="modal-header">
  <h4 class="modal-title">Forgot Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="onSendVerificationCode()">
  <div class="modal-body">
    <div class="form-group row d-flex align-items-center">
      <label class="col-md-4 label-control" for="striped-form-1">Email</label>
      <div class="col-md-8">
        <input formControlName="email" type="text" id="striped-form-1" class="form-control" [ngClass]="{
              'is-invalid': forgotPasswordFormSubmitted && fpf.email.invalid,
              'is-valid': forgotPasswordFormSubmitted && !fpf.email.invalid
            }" />
        <small class="form-text text-muted danger" *ngIf="forgotPasswordFormSubmitted && fpf.email.invalid">
          <span *ngIf="fpf.email.errors.required"> Email is required. </span>
          <span *ngIf="fpf.email.errors.pattern"> Enter valid email. </span>
        </small>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">
      <i class="fa fa-paper-plane" aria-hidden="true"></i> Send Verification
      Link
    </button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">
      <i class="fa fa-times" aria-hidden="true"></i>
      Cancel
    </button>
  </div>
</form>
<!-- <ngx-spinner></ngx-spinner> -->